<body>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 " id="">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h1 class="panel-title" id="oneline-title">My Tasks</h1>
          </div>
          <div class="panel-body" id="medicationDetails">
              <table class="table table-hover">
                  <tbody>
                      <tr *ngFor="let task of tasksList">
                          <td>
                              <button type="button" class="btn table-btn btn-block" (click)="openModal(medication, template)">
                              <span class="widget-title-txt"><strong>{{task.taskName}}</strong></span><br>
                              <span class="widget-title-txt"><p id="summaryText">{{task.taskSummary}}</p></span><br>
                              <span class="widget-body-txt">Due:</span><span class="widget-title-txt"> {{task.dueDate | date:'dd/MM/yyyy'}}</span>
                            </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</body>