.panel-default{
    border-top-width: 5px;
    border-top-color: #027FBB;
    margin-top: 10px;
}

.panel-heading img{
    height: 25px;
    width: 25px;
}

.panel-heading{
    background: white;
    font: bold;
}

.panel-title {
    font-size: 24px; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-title::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    float: left;
    background-image: url("../../../assets/timeline-icon.png");
    background-size: 100%;
}

#timeline-container {
    max-height: 756px;
    min-height: 326px;
    overflow: scroll;
}

.timeline-year-header {
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(102,102,102);
}

.timeline-year-header:hover {
    background-color: rgb(221,221,221);
}

.timeline-year-header::before {
    content: "";
    display: block;
    float: left;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background-color: rgb(132,193,222);
    /* safari and chrome compatibility */
    background: rgb(132,193,222);
}

.timeline-month-header {
    padding-left: 10px;
    margin-left: 35px;
    margin-right: 15px;
    font-size: 20px;
    border-top: 1px solid rgb(221,221,221);
    border-left: 1px solid rgb(221,221,221);
    border-right: 1px solid rgb(221,221,221);   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
   color: rgb(102,102,102);    
}

.timeline-month-header::before {
    content: "";
    display: block;
    float: left;
    margin-left: -30px;
    width: 3px;
    height: 30px;
    background-color: rgb(132,193,222);
    /* safari and chrome compatibility */
    background: rgb(132,193,222);
}

.timeline-month-header::after {
    content: "";
    display: block;
    float: left;
    margin-left: -25px;
    margin-top: 5px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 15px solid rgb(221,221,221);;
}

.timeline-appointment-container {
    padding-left: 2px;
    margin-left: 35px;
    margin-right: 15px;
    border-top: 1px solid rgb(221,221,221);
    border-left: 1px solid rgb(221,221,221);
    border-right: 1px solid rgb(221,221,221); 
    height: 50px;
    color: black;
}

.timeline-appointment-container::before {
    content: "";
    display: block;
    float: left;
    margin-left: -22px;
    width: 3px;
    height: 50px;
    background-color: rgb(132,193,222);
    /* safari and chrome compatibility */
    background-color: rgb(132,193,222);
} 

.timeline-appointment-container:hover{
    background-color: rgb(6,127,187	);
    cursor: pointer;
}

.timeline-appointment-container:hover div{
    color: white;
}

.append-bottom-border {
    border-bottom: 1px solid rgb(221,221,221);
    border-bottom-left-radius: 10px;   
    border-bottom-right-radius: 10px;   
}

.month-spacer {
    height: 15px;
    margin-left: 38px;
    margin-right: 15px;
}

.month-spacer::before {
    content:"";
    display: block;
    float: left;
    margin-left: -22px;
    width: 3px;
    height: 16px;
    background-color: rgb(132	193	222	);
    /* safari and chrome compatibility */
    background: rgb(124, 201, 236);
}   

.timeline-appointment-header {
    white-space: nowrap;
    margin-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    color: black;  
}

.timeline-appointment-date {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    color: black;    
}

.timeline-appointment-date::before {
    margin-left: 14px;
    content: "Due: ";
}    

.collapsed-year {
    display: none;
}

.load-more-button {
    text-align: center;
    background-color: rgb(221,221,221); 
    cursor:pointer; 
}

.load-more-button:hover {
    text-align: center;
    background-color: rgb(6,127,187	);
    color: white;
}

.debugRed {
    outline: 1px solid red;
}

.debugBlue {
    outline: 1px solid blue;
}

.debugGreen {
    outline: 1px solid green;
}

debugCyan {
    outline: 1px solid cyan;    
}

/* appointment modal */

.table-btn {
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    outline: none;
    overflow: hidden;
    text-overflow: none;
}

.pill-icon-modal {
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.modal-form-input {
    font-size: 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666666;
}

.medium-location-text {
    font-size: 15px;
    font-family: "Helvetica";
    font-style: bold;
    color: #666666;
}

.sml-location-txt {
    font-size: 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666666;
}

#appointment-header {
    font-size: 24px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-image: url("../../../assets/upcomingAppointmentsIcon.png");
    width: 25px;
    height: 26px;
    float: left;
    background-size: cover;
}

.container-fixed {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    padding: 0;
    height: 300px;
    position: relative;
}

.input-disabled {
    background-color: #FFF !important;
    cursor: default;
}

#information-display {
    overflow: auto;
    max-height: 300px;
}

.debugRed {
    outline: 1px solid red;
}

.debugBlue {
    outline: 1px solid blue;
}

code {
    font-size: 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666666;
}

.local-map-container {
    overflow: hidden;
}

.local-map-container img {
    width: 100%;
}

input[data-expanded="false"] {
    margin: 0;
}

input[data-expanded="true"] {
    margin: 20px 0;
}

input.btn.btn-block:last-of-type {
    margin-top: 20px;
}

input[data-expanded="true"], input[data-expanded="false"],
input[data-expanded="true"]:visited, input[data-expanded="false"]:visited {
    background-color: #00579f;
}

input[data-expanded="true"]:hover, input[data-expanded="false"]:hover,
input[data-expanded="true"]:focus, input[data-expanded="false"]:focus,
input[data-expanded="true"]:active, input[data-expanded="false"]:active {
    background-color: #067fbb;
    outline: none;
}