    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" id="timeline-widget">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Timeline</h1>
            </div>
            <div id="timeline-container">
                <div *ngIf="loadPrevious" (click)="increasePreviousYears()" class="load-more-button">Load Previous...</div>                
                
                <div *ngFor="let year of timelineStructure.getAppYearArray()">
                    <div class="timeline-year-header" (click)="onYearClicked($event)">
                        {{year.getYearNumber()}}
                    </div>
                    <div *ngIf="year.getYearNumber()==currentYear" class="expandable">
                        <div *ngFor="let month of year.getAppMonthArray(); let lastMonth = last">
                            <div class="month-spacer"></div>
                            <div class="timeline-month-header">{{month.getMonthName()}}</div>
                            <div *ngFor="let appointmentDetail of month.getAppDetsArray(); let lastAppointment = last">
                                <div (click)="openAppointmentModal(template,appointmentDetail.getAppID() )" *ngIf="!last" class="timeline-appointment-container">
                                    <div class="timeline-appointment-header">{{appointmentDetail.getDepName()}}: {{appointmentDetail.getAppType()}}</div>
                                    <div class="timeline-appointment-date">{{appointmentDetail.getAppDate() | date:'dd/MM/yyyy'}}</div>
                                </div>
                                <div (click)="openAppointmentModal(template,appointmentDetail.getAppID())" *ngIf="lastAppointment" class="timeline-appointment-container append-bottom-border">
                                    <div class="timeline-appointment-header">{{appointmentDetail.getDepName()}}: {{appointmentDetail.getAppType()}}</div>
                                    <div class="timeline-appointment-date">{{appointmentDetail.getAppDate() | date:'dd/MM/yyyy'}}</div>
                                </div>
                            </div>
                            <div *ngIf="lastMonth" class="month-spacer"></div>
                        </div>
                    </div>

                    <div *ngIf="year.getYearNumber()!=currentYear" class="expandable collapsed-year">
                            <div *ngFor="let month of year.getAppMonthArray(); let lastMonth = last">
                                <div class="month-spacer"></div>
                                <div class="timeline-month-header">{{month.getMonthName()}}</div>
                                <div *ngFor="let appointmentDetail of month.getAppDetsArray(); let lastAppointment = last">
                                    <div (click)="openAppointmentModal(template,appointmentDetail.getAppID() )" *ngIf="!last" class="timeline-appointment-container">
                                        <div class="timeline-appointment-header">{{appointmentDetail.getDepName()}}: {{appointmentDetail.getAppType()}}</div>
                                        <div class="timeline-appointment-date">{{appointmentDetail.getAppDate() | date:'dd/MM/yyyy'}}</div>
                                    </div>
                                    <div (click)="openAppointmentModal(template,appointmentDetail.getAppID() )" *ngIf="lastAppointment" class="timeline-appointment-container append-bottom-border">
                                        <div class="timeline-appointment-header">{{appointmentDetail.getDepName()}}: {{appointmentDetail.getAppType()}}</div>
                                        <div class="timeline-appointment-date">{{appointmentDetail.getAppDate() | date:'dd/MM/yyyy'}}</div>
                                    </div>
                                </div>
                                <div *ngIf="lastMonth" class="month-spacer"></div>
                            </div>
                        </div>
                </div>
                <div *ngIf="loadFuture" (click)="increaseFutureYears()" class="load-more-button">Load More...</div>
            </div>
        </div> 
    </div>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Appointment</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="perscription-header">
                <p>
                    <img src="/assets/upcomingAppointmentsIcon.png" class="pill-icon-modal"/>
                    <strong>Department: {{focusedAppointment.departmentName}}</strong><br>
                    <span style="padding-left: 70px">{{focusedAppointment.locationAddress}}</span><br>
                    <span style="padding-left: 90px"><strong>Due:</strong> {{focusedAppointment.dateOfAppointment | date: 'dd/MM/yyyy'}}</span><br>
                    <span style="padding-left: 110px"><strong>Time:</strong> {{focusedAppointment.dateOfAppointment | date:'h:mm a'}}</span>
                </p>
                <hr>
            </div>
            <div class="perscription-form">
                <form>
                    <div class="form-group">
                        <label><strong>Clinician Name:</strong></label>
                        <textarea disabled type="text" class="form-control input-disabled" id="perscription-input" rows="1">{{focusedAppointment.clinicianName}}</textarea>
                    </div>
                    <div class="form-group">
                        <label><strong>Clinician comments:</strong></label>
                        <textarea disabled type="text" class="form-control input-disabled" id="comment-input" rows="3">{{focusedAppointment.comment}}</textarea>
                    </div>
                </form>
            </div>
            <input type="submit" *ngIf="userLocation" [attr.data-expanded]="focusedAppointment.showGoogleMap" (click)="toggle('showGoogleMap')" class="btn btn-success btn-sm btn-block" value="{{!!focusedAppointment.showGoogleMap ? 'Collapse' : 'Expand'}} Google map" />
            <div class="map-container" *ngIf="userLocation">
                <evolve-map-view [userLocation]="userLocation" [hidden]="!focusedAppointment.showGoogleMap" [departmentAddress]="focusedAppointment.locationAddress"></evolve-map-view>
            </div>
            <div class="local-map-container" *ngIf="mapPath">
                <input type="submit" [attr.data-expanded]="focusedAppointment.showLocalMap" (click)="toggle('showLocalMap')" class="btn btn-success btn-sm btn-block" value="{{!!focusedAppointment.showLocalMap ? 'Collapse' : 'Expand'}} hospital map" />
                <img [hidden]="!focusedAppointment.showLocalMap" [src]=mapPath />
            </div>
        </div>
    </ng-template>