<body>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" id="timeline-widget">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Timeline</h1>
            </div>
            <div id="timeline-container">
                <div *ngIf="loadPrevious" (click)="increasePreviousYears()" class="load-more-button">Load Previous...</div>                
                
                <div *ngFor="let year of timelineStructure.getAppYearArray()">
                    <div class="timeline-year-header" (click)="onYearClicked($event)">
                        {{year.getYearNumber()}}
                    </div>
                    <div *ngIf="year.getYearNumber()==currentYear" class="expandable">
                        <div *ngFor="let month of year.getAppMonthArray(); let lastMonth = last">
                            <div class="month-spacer"></div>
                            <div class="timeline-month-header">{{month.getMonthName()}}</div>
                            <div *ngFor="let appointmentDetail of month.getAppDetsArray(); let lastAppointment = last">
                                <div *ngIf="!last" class="timeline-appointment-container">
                                    <div class="timeline-appointment-header">{{appointmentDetail.getDepName()}}: {{appointmentDetail.getAppType()}}</div>
                                    <div class="timeline-appointment-date">{{appointmentDetail.getAppDate() | date:'dd/MM/yyyy'}}</div>
                                </div>
                                <div *ngIf="lastAppointment" class="timeline-appointment-container append-bottom-border">
                                    <div class="timeline-appointment-header">{{appointmentDetail.getDepName()}}: {{appointmentDetail.getAppType()}}</div>
                                    <div class="timeline-appointment-date">{{appointmentDetail.getAppDate() | date:'dd/MM/yyyy'}}</div>
                                </div>
                            </div>
                            <div *ngIf="lastMonth" class="month-spacer"></div>
                        </div>
                    </div>

                    <div *ngIf="year.getYearNumber()!=currentYear" class="expandable collapsed-year">
                            <div *ngFor="let month of year.getAppMonthArray(); let lastMonth = last">
                                <div class="month-spacer"></div>
                                <div class="timeline-month-header">{{month.getMonthName()}}</div>
                                <div *ngFor="let appointmentDetail of month.getAppDetsArray(); let lastAppointment = last">
                                    <div *ngIf="!last" class="timeline-appointment-container">
                                        <div class="timeline-appointment-header">{{appointmentDetail.getDepName()}}: {{appointmentDetail.getAppType()}}</div>
                                        <div class="timeline-appointment-date">{{appointmentDetail.getAppDate() | date:'dd/MM/yyyy'}}</div>
                                    </div>
                                    <div *ngIf="lastAppointment" class="timeline-appointment-container append-bottom-border">
                                        <div class="timeline-appointment-header">{{appointmentDetail.getDepName()}}: {{appointmentDetail.getAppType()}}</div>
                                        <div class="timeline-appointment-date">{{appointmentDetail.getAppDate() | date:'dd/MM/yyyy'}}</div>
                                    </div>
                                </div>
                                <div *ngIf="lastMonth" class="month-spacer"></div>
                            </div>
                        </div>
                </div>
                <div *ngIf="loadFuture" (click)="increaseFutureYears()" class="load-more-button">Load More...</div>
            </div>
        </div> 
    </div>
</body>