# See http://help.github.com/ignore-files/ for more about ignoring files.
*.iml
# compiled output
/dist
/tmp
/out-tsc
coverage/
dist/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.env
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
package-lock.json
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Temporary files
*.swp

# Dependencies

package-lock.json

## Client
client/node_modules/
client/package-lock.json
client/idea/workspace.xml

## Server
server/node_modules/
server/config.json
server/package-lock.json
