<evolve-top-bar></evolve-top-bar>
<evolve-left-side-menu></evolve-left-side-menu>
<div id="widgetContainer" class="col-xs-12 col-sm-9">
    <div [hidden]="!(navigationOption===navigationOptions.MyDashboard)">
        <evolve-timeline></evolve-timeline>
        <evolve-appointment></evolve-appointment>
        <evolve-previous-appointments></evolve-previous-appointments>
        <evolve-review-medication></evolve-review-medication>
        <evolve-condition></evolve-condition>
        <evolve-side-effects></evolve-side-effects>
        <evolve-my-tasks></evolve-my-tasks>
    </div>

    <div [hidden]="!(navigationOption===navigationOptions.RepeatPrescription)">
        <evolve-repeat-prescription></evolve-repeat-prescription>
    </div>

    <div [hidden]="!(navigationOption===navigationOptions.MyDependants)">
        <evolve-dependant-view></evolve-dependant-view>
    </div>
</div>