<body>

<div class="hidden-xs col-sm-9 flex-container">
    <img src="../../../assets/user.png" id="patientPicMobile">
    <div class="patientName"> {{userArray.firstName}} {{userArray.lastName}} ({{userArray.title}}) </div>
    <div class="patientBirthday"><span class="patientInfoTextTitle">DOB: </span>{{userArray.dateOfBirth| date: 'dd/MM/yyyy'}}</div>
    <div class="patientGender"><span class="patientInfoTextTitle">Gender: </span>{{userArray.gender}}</div>
    <div class="patientMrin"><span class="patientInfoTextTitle">MRIN: </span>{{userArray.MRIN}}</div>

</div>
</body>
