.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
}

.flex-item1 {
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
}

#patientPicMobile {
    float: left;
    /* background-color: grey; */
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-left: 20px;
    margin-top: 2.5px;
    flex-grow: 0;
}

.patientName{
    color: #465463;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 2.5%;
}

.patientBirthday{
    color: darkgrey;
    margin-left: 20%;
    font-size: 15px;
    margin-top: 2.5%;
}

.patientGender{
    color: darkgrey;
    margin-left: 5%;
    font-size: 15px;
    margin-top: 2.5%;
}
.patientMrin{
    color: darkgrey;
    margin-left: 5%;
    font-size: 15px;
    margin-top: 2.5%;
}