<!--The content below is only a placeholder and can be replaced.-->
<evolve-top-bar></evolve-top-bar>
<evolve-left-side-menu></evolve-left-side-menu>

<!-- add widgets within this div -->
<div id="widgetContainer" class="col-sm-9">
    <evolve-appointment>Loading Map</evolve-appointment>
    <evolve-appointment>Loading Map</evolve-appointment>
    <evolve-appointment>Loading Map</evolve-appointment>
    <evolve-appointment>Loading Map</evolve-appointment>
    <evolve-appointment>Loading Map</evolve-appointment>
    <evolve-appointment>Loading Map</evolve-appointment>
</div>