<body>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" id="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title" id="medication-header">
                    Medication Prescriptions
                </h1>
            </div>
            <div class="panel-body" id="medicationDetails">
                    <button type="button" class="btn btn-success btn-block sharp" id="orderRepeatButton">Order Repeat Prescriptions</button>
               <br>
                <table class="table table-hover">
                    <tbody>
                        <tr *ngFor="let medication of medicationsList" class="prescription-item" (click)="openModal(medication,template)" >
                            <td id="">
                                <span class="main-medication-txt">Name: {{medication.medicationName}}</span><br>
                                <span class="sml-medication-txt">Dosage: {{medication.dosage}}</span><br>
                                <span class="sml-medication-txt">Instructions: {{medication.instructions}}</span><br><br>
                                <span class="sml-medication-txt-right">Last Issued: {{medication.prescribedDate | date: 'dd/MM/yyyy'}}</span><br>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<ng-template #template>
    <div *ngIf="selectedMedication">
        <div class="med-modal">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Medications</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div class="perscription-header">
                <p>
                    <span class="sml-medication-txt"><strong>Name:</strong> {{selectedMedication.medicationName}}</span><br>
                    <span class="sml-medication-txt"><strong>Current Dosage:</strong> {{selectedMedication.dosage}}</span><br>
                    <span class="sml-medication-txt"><strong>Class:</strong> {{selectedMedication.medicationType}}</span>
                </p>
                <hr>
                <a *ngIf="!showPrescriptionHistory" (click)="displayPrescriptionHistory()"><strong>Show Prescription History</strong></a>
                <a *ngIf="showPrescriptionHistory" (click)="displayPrescriptionHistory()"><strong>Hide Prescription History</strong></a>

            </div>

            <div *ngIf="showPrescriptionHistory" class="perscription-form">
                <form>
                    <div class="form-group">
                        <ul *ngFor="let medicationHistoryItem of selectedMedicationHistory">
                            <li>{{medicationHistoryItem.startDate|date:'dd/MM/yyyy'}} - {{medicationHistoryItem.endDate|date:'dd/MM/yyyy'}}
                                : {{medicationHistoryItem.dosage}}</li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="perscription-form">
                <hr>
                <form>
                    <div class="form-group">
                        <label><strong>{{selectedMedication.medicationName}} details:</strong></label>
                        <pre *ngIf=this.collapsedDescription&&this.description><code [innerHTML]=this.description.description|ellipsis:200 (click)=toggleCollapse() ></code></pre>
                        <pre *ngIf=!this.collapsedDescription&&this.description><code [innerHTML]=this.description.description|ellipsis:20000 (click)=toggleCollapse() ></code></pre>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>