<body>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 " id="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"id="medication-header">Medication Prescriptions
                    <a class="pull-right" (click)="openPrescriptionModal(prescriptionTemplate)"><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i></a>
                </h1>
            </div>
            <div class="panel-body" id="medicationDetails">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let medication of medicationsList">
                            <td>
                                <span class="main-medication-txt">{{medication.medicationName}}</span><br>
                                <span class="sml-medication-txt">Dosage: {{medication.dosage}}</span><br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<ng-template #template>
    <div *ngIf="selectedMedication">
        <div class="med-modal">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Medications</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div class="perscription-header">
                <p>
                    <span class="sml-medication-txt"><strong>{{selectedMedication.medicationName}}</strong></span><br>
                    <span class="sml-medication-txt-left">{{selectedMedication.dosage}}</span><br>
                    <span class="sml-medication-class-txt-left"><strong>Class:</strong> {{selectedMedication.medicationType}}</span>
                </p>
                <hr>
            </div>
            <div class="perscription-form">
                <form>
                    <div class="form-group">
                        <label><strong>Prescription changes :</strong></label>
                        <ul *ngFor="let medicationHistoryItem of selectedMedicationHistory">
                            <li>{{medicationHistoryItem.startDate|date:'dd/MM/yyyy'}} - {{medicationHistoryItem.endDate|date:'dd/MM/yyyy'}} : {{medicationHistoryItem.dosage}}</li>
                        </ul>
                    </div>
                    <div class="side-effects">
                        <label><strong>Side Effects:</strong></label>
                        <div class="table table-responsive">
                            <tr *ngFor="let medicationComment of selectedMedicationComments">
                                <td id="sideEffectTimeStamp">{{medicationComment.timeStamp|date:'dd/MM/yyyy'}}</td>
                                <td id="medicationComment">
                                    <li>{{medicationComment.commentText}}</li>
                                </td>
                                <td id="medicationButton">
                                    <button type="button" id="minusButton" (click)="removeComment(medicationComment.medicationUserCommentID)">
                                    <img src="assets/red_minus_icon.png">
                                </button>
                                </td>
                            </tr>
                        </div>
                        <div class="new-side-effect">
                            <div class="table">
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" id="side-effect-input" [(ngModel)]="newComment" [ngModelOptions]="{standalone: true}" placeholder="Input side effect">
                                    </td>
                                    <td>
                                        <button type="button" id="plusButton" (click)="addComment(medication, template)">
                                        <img src="assets/Green_Plus_Icon.png">
                                    </button>
                                    </td>
                                </tr>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label><strong>{{selectedMedication.medicationName}} details:</strong></label>
                        <pre *ngIf=this.collapsedDescription&&this.description><code [innerHTML]=this.description.description|ellipsis:200 (click)=toggleCollapse() ></code></pre>
                        <pre *ngIf=!this.collapsedDescription&&this.description><code [innerHTML]=this.description.description|ellipsis:20000 (click)=toggleCollapse() ></code></pre>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #prescriptionTemplate>
    <div *ngIf="state=='prescription'">
        <div class="med-modal">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Prescription Summary</h4>
                <button type="button" class="close pull-right" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <div class="panel-body" id="medicationDetails">
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let medication of medicationsList">
                        <td>
                            <button type="button" class="btn table-btn" (click)="openModal(medication,template)">
                                <span class="main-medication-txt">{{medication.medicationName}}</span><br>
                                <span class="sml-medication-txt">Dosage: {{medication.dosage}}</span><br>
                                <span class="sml-medication-txt">Instructions: {{medication.instructions}}</span><br>
                                <span class="sml-medication-txt-right">{{medication.startDate | date: 'dd/MM/yyyy'}}</span><br>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Side Effects of all Meds -->

            <div class="side-effects">
                <label><strong>Side Effects:</strong></label>
                <div class="table table-responsive">
                    <tr *ngFor="let medicationComment of selectedMedicationComments">
                        <td id="sideEffectTimeStamp">{{medicationComment.timeStamp|date:'dd/MM/yyyy'}}</td>
                        <td id="medicationComment">
                            <li>{{medicationComment.commentText}}</li>
                        </td>
                        <td id="medicationButton">
                            <button type="button" id="minusButton" (click)="removeComment(medicationComment.medicationUserCommentID)">
                            <img src="assets/red_minus_icon.png">
                        </button>
                        </td>
                    </tr>
                </div>
                <div class="new-side-effect">
                    <div class="table">
                        <tr>
                            <td>
                                <input type="text" class="form-control" id="side-effect-input" [(ngModel)]="newComment" [ngModelOptions]="{standalone: true}" placeholder="Input side effect">
                            </td>
                            <td>
                                <button type="button" id="plusButton" (click)="addComment(medication, template)">
                                <img src="assets/Green_Plus_Icon.png">
                            </button>
                            </td>
                        </tr>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        </div>
    </div>
    <div *ngIf="state=='meds'">
            <div class="med-modal">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Medications</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="closeMeds()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="perscription-header">
                    <p>
                        <img src="/assets/pill.png" class="pill-icon-modal" />
                        <span class="sml-medication-txt"><strong>{{selectedMedication.medicationName}}</strong></span><br>
                        <span class="sml-medication-txt-left">{{selectedMedication.dosage}}</span><br>
                        <span class="sml-medication-class-txt-left"><strong>Class:</strong> {{selectedMedication.medicationType}}</span>
                    </p>
                    <hr>
                </div>
                <div class="perscription-form">
                    <form>
                        <div class="form-group">
                            <label><strong>Prescription changes :</strong></label>
                            <ul *ngFor="let medicationHistoryItem of selectedMedicationHistory">
                                <li>{{medicationHistoryItem.startDate|date:'dd/MM/yyyy'}} - {{medicationHistoryItem.endDate|date:'dd/MM/yyyy'}} : {{medicationHistoryItem.dosage}}</li>
                            </ul>
                        </div>
                        <div class="side-effects">
                            <label><strong>Side Effects:</strong></label>
                            <div class="table table-responsive">
                                <tr *ngFor="let medicationComment of selectedMedicationComments">
                                    <td id="sideEffectTimeStamp">{{medicationComment.timeStamp|date:'dd/MM/yyyy'}}</td>
                                    <td id="medicationComment">
                                        <li>{{medicationComment.commentText}}</li>
                                    </td>
                                    <td id="medicationButton">
                                        <button type="button" id="minusButton" (click)="removeComment(medicationComment.medicationUserCommentID)">
                                        <img src="assets/red_minus_icon.png">
                                    </button>
                                    </td>
                                </tr>
                            </div>
                            <div class="new-side-effect">
                                <div class="table">
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" id="side-effect-input" [(ngModel)]="newComment" [ngModelOptions]="{standalone: true}" placeholder="Input side effect">
                                        </td>
                                        <td>
                                            <button type="button" id="plusButton" (click)="addComment(medication, template)">
                                            <img src="assets/Green_Plus_Icon.png">
                                        </button>
                                        </td>
                                    </tr>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label><strong>{{selectedMedication.medicationName}} details:</strong></label>
                            <pre *ngIf=this.collapsedDescription&&this.description><code [innerHTML]=this.description.description|ellipsis:200 (click)=toggleCollapse() ></code></pre>
                            <pre *ngIf=!this.collapsedDescription&&this.description><code [innerHTML]=this.description.description|ellipsis:20000 (click)=toggleCollapse() ></code></pre>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</ng-template>