.panel-default{
    border-top-width: 5px;
    border-top-color: #027FBB;
    min-height: 400px;
    margin-top: 10px;
    
}
.panel-heading img{
    height: 25px;
    width: 25px;
}
.panel-heading{
    background: white;
    font: bold;
}

.table-btn{
    background-color: transparent;
    border: none;
    border-radius: 1px;
    width: 100%;
    text-align: left;
    outline: none;
    overflow: hidden;
    margin: 0;
}

.pill-icon-modal{
    height: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.modal-form-input {
    height: 100px; 
    font-size: 12px;
    line-height: 14px;
} 

.sml-medication-txt{
    font-size: 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666666;
}

.sml-medication-txt-right{
    font-size: 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666666;
    float: right;
}

.sml-medication-txt-left{
    font-size: 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666666;
    padding-left: 50px
}

.sml-medication-class-txt-left{
    font-size: 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666666;
    padding-left: 70px;
}

.main-medication-txt{
    font-size: 15px;
    font-family: "Helvetica";
    font-style: bold;
    color: #666666;
}

.perscription-form{
    font-size: 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666666;
}
.side-effects img{
    height: 20px;
    width: 20px;
}

#side-effect-input{
    padding-left: 10px;
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    float: left;
}

.table td{
    width: 400px;
}

#minusButton {
    float: right;
    border: none;
    background-color: #EBF0F4;
    width: 11%;
}

#plusButton {
    float: right;
    border: none;
    background-color: #EBF0F4;
}

#medicationComment{
    word-wrap: break-word;
    width: 600%;
    float: left; 
}

#sideEffectTimeStamp {
    width: 20%;
    column-width: 10px;
}

#medicationComponent {
    position: relative;
    border-top-width: 5px;
    border-top-color: #027FBB;
    max-width: 500px;
    min-width: 300px;
    height: 400px;
    margin-top: 10px;
    margin-right: 10px;
}

#medicationDetails {
    max-height: 300px;
    overflow: auto;
}

code{
    font-size: 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666666;
}

#medication-header{
    font-size: 24px;
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25px;
    height: 26px;
    float: left;
    background-image: url("../../../assets/pill.png");
    width: 25px;
    height: 26px;
    background-size: 24px 24px;
}

.strikethrough {
    text-decoration: line-through;
  }

#borderBelow {
    border-top: none;
    border-bottom: 1px solid #ddd;
}

.prescription:hover {
    cursor: pointer;
}