<header class="jumbotron">
  <div>
      <img [src]="evolveLogoPath" alt="Evolve logo" />
      <h1>Patient Portal</h1>
  </div>
  <div class="separator"></div>
</header>

<main class="loginPage">

  <div *ngIf="this.invalid" class="callout-message col-xs-12">
      <div class="bs-callout bs-callout-danger">
          <p><span>Error:</span> Invalid Username.</p>
      </div>
  </div>

  <form method="POST" class="col-xs-12">
      <h5 class="text-center">Reset Password</h5>

      <label class="sr-only" for="loginUsername">Username</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
          <input class="form-control" [(ngModel)]="user.username" id="loginUsername" name="loginUsername" placeholder="Username" required />
      </div>

      <input type="submit" (click)="onRequestReset()" class="btn btn-success btn-sm btn-block" value="Send Password Reset Mail" />
      <input type="button" (click)="onGoBack()" class="btn btn-danger btn-sm btn-block" value="Cancel" />
  </form>
</main>
