<div *ngIf="!isLoading" style="margin-top: 20px; margin-left: 20px;">
  <label>Enter Postcode:</label>
  <input id="searchTextField" type="text" placeholder="Postcode" (keyup)="onInputChange($event)" [(ngModel)]="userInput" class="form-control" style="display: inline; width: auto;"> <button type="button" class="btn btn-primary" (click)="onSearchClick()">Search</button>
  <select *ngIf="locations.length > 0" class="form-control" style="margin-top: 15px;" (change)="locationsChangeDropdown($event.target.value)" [(ngModel)]="selectedLocation">
    <option value="- - Select a Pharmacy - -">- - Select a Pharmacy - -</option>
    <option *ngFor="let location of locations | slice:0:indexLimit;" value="location.name">{{location.name}} ({{location.vicinity}})</option>
    <option value="Display More..." *ngIf="displayMoreAvailable">Display More...</option>
  </select>
</div>
<div class="row" *ngIf="isLoading">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="loader centerBlock"></div>
  </div>
  <div class="col-md-3"></div>
</div>

<div id="map"></div>