<div style="min-height: calc(100vh - 85px)" *ngIf="viewingDependant">
    <h3 class="indent">Dependant View</h3>

    <div class="box" style="z-index: 1; position: relative; top: 0px; left: 0px; width: 100%;">
    <evolve-personal-info-header class="box"  [dependantID]="viewingDependant.userID"></evolve-personal-info-header>
    </div>
    
    <div class="btnDiv">
    
    </div>
    <evolve-appointment [dependantID]="viewingDependant.userID"></evolve-appointment>
    <evolve-previous-appointments [dependantID]="viewingDependant.userID"></evolve-previous-appointments>
    <evolve-review-medication [dependantID]="viewingDependant.userID"></evolve-review-medication>
    <evolve-repeat-prescription [dependantID]="viewingDependant.userID"></evolve-repeat-prescription>

</div>