<div style="min-height: calc(100vh - 85px)" *ngIf="viewingDependant">
    <h3 class="indent">Dependant View</h3>

    <div class="box" style="z-index: 1; position: relative; top: 0px; left: 0px; width: 100%;">
    <evolve-personal-info-header class="box"  [dependantID]="viewingDependant.userID"></evolve-personal-info-header>
    </div>
    
    <div class="btnDiv">
    <button class="btn btn-primary"  (click)="openModal(template)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
    </div>
    <evolve-appointment [dependantID]="viewingDependant.userID"></evolve-appointment>
    <evolve-previous-appointments [dependantID]="viewingDependant.userID"></evolve-previous-appointments>
    <evolve-review-medication [dependantID]="viewingDependant.userID"></evolve-review-medication>
    <evolve-repeat-prescription [dependantID]="viewingDependant.userID"></evolve-repeat-prescription>

</div>
 <ng-template #template>
        <div>
            <div class="med-modal">
                <div class="modal-header">
                    <h3 class="modal-title pull-left">Personal Information</h3>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                
                <form onsubmit="event.preventDefault();">
                    <div class="form-group">
                        <form class="form">
                            <label for="preferredName">Preferred Name: </label>
                            <input  style="width: auto; display: inline;" id="preferredName" name="preferredName" type="text" placeholder="Preferred Name" [(ngModel)]="preferredName" [(value)]="preferredName" class="form-control formTextBox"> <br>

                            <label for="address">Address: </label>
                            <input  style="width: auto; display: inline;" id="address" name="address" type="text" placeholder="Address" [(ngModel)]="address" [(value)]="address" class="form-control formTextBox"> <br>

                            <label for="mobilePhoneNumber" style="margin-top: 20px;">Mobile Number: </label>
                            <input  style="width: auto; display: inline;" id="mobilePhoneNumber" name="mobilePhoneNumber" type="text" placeholder="Mobile Number" [(ngModel)]="mobilePhoneNumber" [(value)]="mobilePhoneNumber" class="form-control formTextBox"> <br>

                            <label for="homePhoneNumber" style="margin-top: 20px;">Home Number: </label>
                            <input  style="width: auto; display: inline;" id="homePhoneNumber" name="homePhoneNumber" type="text" placeholder="Home Number" [(ngModel)]="homePhoneNumber" [(value)]="homePhoneNumber" class="form-control formTextBox"> <br>

                            <label for="workPhoneNumber" style="margin-top: 20px;">Work Number: </label>
                            <input  style="width: auto; display: inline;" id="workPhoneNumber" name="workPhoneNumber" type="text" placeholder="Work Number" [(ngModel)]="workPhoneNumber" [(value)]="workPhoneNumber" class="form-control formTextBox"> <br>

                            <label for="email" style="margin-top: 20px;">Email: </label>
                            <input  style="width: auto; display: inline;" id="email" name="email" type="text" placeholder="Email" [(ngModel)]="email" [(value)]="email" class="form-control formTextBox"><br>

                            <label for="gpPracticeName" style="margin-top: 20px;">GP Practice: </label>
                            <select class="form-control" (change)="gpPracticeChangeDropdown($event.target.value)"   [(ngModel)]="gpPracName" [ngModelOptions]="{standalone: true}">
                                    <option value="--Select a GP Practice--">--Select a GP Practice--</option>
                                    <option *ngFor="let g of gpPractice" [id]="g.gpPracticeName"  [value]="g.gpPracticeName">{{g.gpPracticeName}}, {{g.gpPracticeAddress}}</option>
                                </select>
                                
                            <label for="gpFullName" style="margin-top: 20px;">GP Name: </label>
                            <select class="form-control" (change)="gpChangeDropdown($event.target.value)" [(ngModel)]="gpName" [ngModelOptions]="{standalone: true}">
                                <option value="--Select a GP--">--Select a GP--</option>
                                <option *ngFor="let x of gp" [id]="x.gpFullName.charAt(4)"[value]="x.gpFullName">{{x.gpFullName}}</option>
                            </select>
                        </form>
                    </div>
                    <button type="button" class="btn btn-success" (click)="updateUserDetails()">Update Details</button>
                </form>
            </div>
        </div>
    </ng-template>