<evolve-top-bar></evolve-top-bar>
<evolve-left-side-menu></evolve-left-side-menu>
<div id="widgetContainer" class="col-sm-9">

    <body>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " id="">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title" id="widget-header">Your current prescriptions</h1>
                </div>
                <div class="panel-body" id="medicationDetails">
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let prescription of prescriptionList">
                                <td>
                                    <span class="widget-title-txt">Name: {{prescription.medicationName}}</span><br>
                                </td>
                                <td>
                                    <span class="widget-body-txt">Dosage: {{prescription.dosage}}</span><br>
                                </td>
                                <td>
                                    <span class="widget-title-txt">Expires: {{prescription.endDate | date}}</span><br>
                                </td>
                                <td>
                                    <button class="btn btn-success" (click)="addToList(prescription)">Repeat Prescription</button> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " id="">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title" id="widget-header">Prescriptions for request</h1>
                </div>
                <div class="panel-body" id="medicationDetails">
                    <table class="table table-hover">
                        <tbody>
                            <tr *ngFor="let selectedPres of renewPrescriptionList">
                                <td>
                                    <span class="widget-title-txt">Name: {{selectedPres.medicationName}}</span><br>
                                </td>
                                <td>
                                    <span class="widget-body-txt">Dosage: {{selectedPres.dosage}}</span><br>
                                </td>
                                <td>
                                    <span class="widget-title-txt">Expires: {{selectedPres.endDate | date}}</span><br>
                                </td>
                                <td>
                                    <button class="btn btn-danger" (click)="removeFromList(selectedPres)">Remove</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" (click)="openModal(selectedPres, template)">Confirm Prescription</button>
                </div>
            </div>
        </div>
    </body>
    <ng-template #template>
        <div>
            <div class="med-modal">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Repeat Prescriptions</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="perscription-header">
                    <p>You have chosen to repeat the following prescription(s).</p>
                    <li *ngFor="let finalPrescriptionList of renewPrescriptionList">{{finalPrescriptionList.medicationName}}
                    </li>
                    <hr>
                </div>
                <div class="perscription-form">
                    <p>Please select which method of delivery you wish to use:</p>
                    <form>
                        <div class="form-group">
                            <form class="form">
                                <input type="radio" name="delivery" [(ngModel)]="collectionType.status" value="true">Home Delivery<br>
                                <input type="radio" name="delivery" [(ngModel)]="collectionType.status" value="false">Local Pharmacy
                            </form>
                        </div>
                        <button type="submit" class="btn btn-success" (click)="requestPrescription(renewPrescriptionList, value)">Request Prescription</button>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>
</div>