.panel-default {
    border-top-width: 5px;
    border-top-color: #027FBB;
    max-height: 450px !important;
    margin-top: 10px;
}

.panel-heading img {
    height: 25px;
    width: 25px;
}

.panel-heading {
    background: white;
    font: bold;
}

.panel-body {
    max-height: 300px !important;
    overflow: auto;
}

.table-btn {
    background-color: transparent;
    border: none;
    border-radius: 1px;
    width: 100%;
    text-align: left;
    outline: none;
    overflow: hidden;
    margin: 0;
}

.widget-body-txt {
    font-size: 15px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666666;
}

.widget-title-txt {
    font-size: 15px;
    font-family: "Helvetica";
    font-style: bold;
    color: #666666;
}

.table {
    position: relative;
}

.table td {
    width: 400px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 25px;
    height: 26px;
    float: left;
    background-image: url("../../../assets/pill.png");
    width: 25px;
    height: 26px;
    background-size: 24px 24px;
}

#widget-header {
    font-size: 24px;
}

.spaced {
    margin-left: 25px;
    max-width: 30%;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}