.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    background-color: lightgrey;
}

.flex-item {
    background-color: lightgrey;
    color: #465463;
    width: 33%;
    height: 35px;
    margin: 15px;
}

:host-context(.shift-secInfo-right) .flex-item {
    
    margin-left: 10%;
  }